#sheet-container {

}

.skill-tree-viewer {

  border: solid 1px var(--color-dark);
  box-shadow: 0 0 4px 2px var(--color-dark);

  max-width: 21cm;
  min-height: 29.7cm;

  margin: auto;


  padding: 0.5cm;
  background-color: #fff8;
  backdrop-filter: blur(4px) hue-rotate(180deg);
  color: var(--color-dark);

  /* background-image: url(../image/background.jpg); */
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;

  /* font-family: "IM Fell English", serif; */
}

.skill-tree-viewer h2 {
  font-size: 1.2em;
  font-weight: bold;
  margin-bottom: 0.5em;
  display: flex;
  align-items: center;
  gap: 1em;
  color: var(--color-focused);
}


.skill-tree-viewer .container {
  position: relative;
  border: solid 1px var(--color-dark);
  border-radius: 4px;
  box-shadow: 0 0 4px 2px var(--color-dark);
  background-color: #fff8;
    padding: 4px;
}



/* ================================ */
.skill-tree-viewer .value-container {
  border: none;
  margin: 0;
  padding: 0;
  background-color: transparent;
}

.skill-tree-viewer .value-container button {
  background-color: var(--color-dark);
  color: var(--color-lightest);
}

.skill-tree-viewer .value-container {
  display: flex;
  gap: 4px;
  border: solid 1px var(--color-dark);
  border-radius: 16px;
  margin: 4px;
  padding: 2px 4px;
  background-color: #aaa;
}
.skill-tree-viewer .value-container .value-modifier {
  border-radius: 50%;
  height: 1.5em;
  width: 1.5em;
}

.skill-tree-viewer .value-container .value {
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;

  width: calc(1.5em / 0.8);
  height: calc(1.5em / 0.8);
  font-size: 0.8em;

  border-radius: 50%;
  background-color: #fff;
  color: var(--color-dark);

}


.skill-tree-viewer .button-increment,
.skill-tree-viewer .button-decrement {
  height: 100%;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}
.skill-tree-viewer .value-container .button-decrement::before {
  content: "-";
  font-style: normal;
  margin-top: -0.1em;
}

.skill-tree-viewer .value-container .button-increment::before {
  content: "+";
  font-style: normal;
}

/* ================================ */

input.checkbox--perk {
  border-color: var(--color-dark);
  height: 1em;
  width: 1em;
}

/* ================================ */


.skill-tree-viewer .dropdown .dropdown-content {
  z-index: 1000;
}

.tooltip-trigger {
  cursor: help;
}
.tooltip-trigger::after {
  content: "🔍";
  font-size: 0.8rem;
  margin-left: 0.2rem;
  color: var(--color-dark);
}

.skill-tree-viewer .tooltip-content {
  min-width: 300px;
  background-color: #ccc;
  border: solid 1px var(--color-dark);
  padding: 4px;
  border-radius: 4px;
  box-shadow: 0 0 4px 2px var(--color-dark);
}

.skill-tree-viewer .tooltip-content hr {
  color: var(--color-dark);
}

.skill-tree-viewer .tooltip-content h3 {
  font-size: 1rem;
  font-weight: bold;
  margin-bottom: 0.5rem;
  color: var(--color-focused);
}

.skill-tree-viewer .tooltip-content .modifiers-container {
  margin-top: 0.5rem;
}

.skill-tree-viewer .tooltip-content .modfiers,
.skill-tree-viewer .tooltip-content .formula{
  border: solid 1px var(--color-dark);
  padding: 4px;
  background-color: var(--color-darkest);
  color: var(--color-lightest);
  font-size: 0.8rem;
}



/* =================================== */

.skill-tree-viewer .attribute-container,
.skill-tree-viewer .perk-container,
.skill-tree-viewer .characteristic-container,
.skill-tree-viewer .skill-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border: solid 1px oklch(var(--primary-color));
  border-radius: 4px;
  margin-bottom: 4px;
  padding: 2px 4px;
  background-color: #ddd;
}
.skill-tree-viewer .skills-container {
  margin-top: 1rem;
}
.skill-tree-viewer .with-tooltip {
  display: flex;
  gap: 4px;
}



.skill-tree-viewer .available-points-container {
  display: flex;
  align-items: flex-end;
  gap: 1rem;
}
.skill-tree-viewer .available-points-container .available-points {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 24px;
  border: solid 1px #171717;
  border-radius: 4px;
  background-color: #fff;
  font-size: 12px;
  padding: 2px 16px;
  font-weight: bold;
}
@media print {
  body {
    background-color: #fff !important;
    background-image: none !important;
  }
  .skill-tree-viewer {
    padding: 0;
    border: none;
    background-color: #fff;
    max-width: 20cm;
    min-height: 27cm;
    box-shadow: none;
  }

  .skill-tree-viewer .container {
    box-shadow: none;
  }



  .skill-tree-viewer .no-print {
    display: none;
  }
  .skill-tree-viewer .dropdown {
    display: none;
  }
  .skill-tree-viewer .btn {
    display: none;
  }

  .skill-tree-viewer .available-points-container {
    display: none;
  }
  .skill-tree-viewer input[type=checkbox] {
    border: none;
  }
  .skill-tree-viewer input:checked:after {
    content: "✅";
    position: absolute;
    margin-left: -4px;
    margin-top: -7px;
    font-size: 1.3rem;
    color: var(--primary-color);
    filter: grayscale(1) contrast(1.5);
  }
}


/* =================================================== */



/* ================================================== */


