<div class="col-span-4 p-2 tree-container container characteristics-container">
    <h2>Caractéristiques</h2>
    <template x-for="child in getNodeById('category-characteristics').children" :key="child.id + '-' + checksum">
        <div class="characteristic-container" x-data="{node: child}">
            <div class="with-tooltip">
                <span x-text="node.text"></span>
                <template x-if="node.data.description">
                    <div class="dropdown ">
                        <div tabindex="0"><span class="tooltip-trigger"></span></div>
                        <div
                            tabindex="0"
                            class="dropdown-content shadow">
                            <div class="tooltip-content">
                                <template x-if="node.data.illustration">
                                    <img :src="node.data.illustration" />
                                </template>
                                <div x-html="node.data.description"></div>
                            </div>
                        </div>
                    </div>
                </template>
            </div>
            <span x-text="computeValue(node)" class="value"></span>
        </div>
    </template>
</div>
