<div>
    <div class="available-points-container">
        <h2>
            <span>Perks</span>
            <span class="available-points" x-text="_data.availabilities.perks"></span>
        </h2>
    </div>
    <template x-for="child in getNodeById('category-perks').children" :key="child.id + '-' + checksum">
        <div class="perk-container" x-data="{node: child}">
            <div class="with-tooltip">
                <span x-text="node.text"></span>
                <template x-if="node.data.description">
                    <div class="dropdown ">
                        <div tabindex="0"><span class="tooltip-trigger"></span></div>
                        <div
                            tabindex="0"
                            class="dropdown-content shadow">
                            <div class="tooltip-content">
                                <template x-if="node.data.illustration">
                                    <img :src="node.data.illustration" />
                                </template>
                                <div x-html="node.data.description"></div>

                                <div class="modifiers-container" x-show="node.data.modifiers">
                                    <h3>Modificateurs</h3>
                                    <pre class="modfiers modifiers--perks" x-html="node.data.modifiers"></pre>
                                </div>
                            </div>
                        </div>
                    </div>
                </template>
            </div>
            <input
                @click="
                    if(!_data.values[node.data.code]) {
                        if(!_data.availabilities.perks) {
                            setValue(node.data.code, false);
                        }
                        else {
                            _data.availabilities.perks--;
                            setValue(node.data.code, true);
                        }
                    } else {
                        _data.availabilities.perks++;
                    };
                "
                type="checkbox"
                x-model="_data.values[node.data.code]"
                :checked="_data.values[node.data.code]"
                :disabled="!_data.values[node.data.code] && !_data.availabilities.perks"
                class="checkbox checkbox--perk"
            />
        </div>
    </template>
</div>
