<div class="col-span-4 p-2 tree-container container perks-container">
    <div class="available-points-container">
        <h2>Perks</h2>
        <span class="available-points" x-text="_data.availabilities.perks"></span>
    </div>
    <template x-for="child in getNodeById('category-perks').children" :key="child.id + '-' + checksum">
        <div class="perk-container" x-data="{node: child}">
            <div class="with-tooltip">
                <span x-text="node.text"></span>
                <template x-if="node.data.description">
                    <div class="dropdown ">
                        <div tabindex="0"><i class="fas fa-question-circle"></i></div>
                        <div
                            tabindex="0"
                            class="dropdown-content shadow">
                            <div class="tooltip-content">
                                <template x-if="node.data.illustration">
                                    <img :src="node.data.illustration" />
                                </template>
                                <div x-html="node.data.description"></div>

                                <div x-show="node.data.modifiers">
                                    <hr />
                                    <div>Modificateurs</div>
                                    <pre x-html="node.data.modifiers"></pre>
                                </div>
                            </div>
                        </div>
                    </div>
                </template>
            </div>
            <input
                @click="
                    if(!_data.values[node.data.code]) {
                        if(!_data.availabilities.perks) {
                            setValue(node.data.code, false);
                        }
                        else {
                            setValue(node.data.code, true);
                            _data.availabilities.perks--;
                        }
                    } else {
                        _data.availabilities.perks++;
                    };

                    if(typeof(save) === 'function') {
                        save();
                    }
                "
                type="checkbox"
                x-model="_data.values[node.data.code]"
                :checked="_data.values[node.data.code]"
                :disabled="!_data.values[node.data.code] && !_data.availabilities.perks"
                class="checkbox checkbox-primary"
            />
        </div>
    </template>
</div>
