<div class="skill-tree-viewer" x-init="console.log(getData())">
    <div>
        <template x-if="ready">


            <!--
                <style
                x-text="`
                    .skill-tree-viewer {
                        ${getNodeByCode('THEME_COLOR') ? 'color:' + getNodeByCode('THEME_COLOR').data.value  : ''}
                    }
                `">
            </style>
            -->

            <div class="grid grid-cols-12 gap-2">
                <div id="skill-tree-viewer__attributes-container" class="col-span-4 p-2 tree-container container attributes-container"></div>
                <div id="skill-tree-viewer__perks-container" class="col-span-4 p-2 tree-container container attributes-container"></div>
                <div id="skill-tree-viewer__characteristics-container" class="col-span-4 p-2 tree-container container attributes-container"></div>
            </div>
        </template>
    </div>

    <hr />

    <template x-if="ready">
        <div style="margin-top: 1rem">
            <div class="available-points-container">
                <h2>
                    <span>Compétences</span>
                    <span class="available-points" x-text="_data.availabilities.skills"></span>
                </h2>
            </div>


            <div
                class="grid grid-cols-12 gap-2 skills-container"
                id="skill-tree-viewer__skills-container">
            </div>
        </div>
    </template>
</div>