.jstree-icon::before {
  font-style: normal;
}
.node--tree::before {
  content: "🌳";
}
.node--folder::before {
  content: "📁";
}

.node--star::before {
  content: "⭐";
}
.node--gear::before {
  content: "⚙️";
}

.node--joystick::before {
  content: "🕹️";
}

.node--package::before {
  content: "📦";
}

.node--dot::before {
  content: "🔵";
}

.node--eye::before {
  content: "👁️";
}

.node--toolbox::before {
  content: "🧰";
}
.node--hammer-wrench::before {
  content: "🛠️";
}

.node--biceps::before {
  content: "💪";
}

.node--picture::before {
  content: "🖼️";
}

.node--diamond::before {
  content: "🔶";
}

.node--dvd::before {
  content: "📀";
}

