html, body {
  min-height: 100vh;
}

* {
  margin:0;
  padding:0;
  box-sizing: border-box;
}

body {
  --color-darkest: #171717;
  --color-dark: #212121;
  --color-lightest: #ddd;
  --color-focused: #29BB9A;
  --header-height: 32px;


  overflow: hidden;
  font-family: arial, verdana, tahoma, sans-serif;
  background-color: var(--color-darkest);
  color: var(--color-lightest);
}

.application a {
  color: var(--color-lightest);
}

.application h1 {
  font-size: 1.5rem;
  margin-bottom: 1rem;
}

.application h2 {
  font-size: 1.3rem;
  margin-bottom: 1rem;
}

.application p {
  margin-bottom: 1rem;
}


#editor-header {
  height: var(--header-height);
  background-color: var(--color-dark);
}

.btn-primary {
  background-color: var(--color-focused);
  color: var(--color-lightest);
}
